.width-100 {
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-items: center;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

.main-heading {
  font-size: 50px;
  font-weight: 600;
  color: #1b2d42;
}

.sub-heading {
  font-size: 30px;
  font-weight: 600;
  color: var(--black);
}

.text {
  font-size: 17px;
  font-weight: 400;
}

.text-sm {
  font-size: 17px;
  font-weight: 400;
}

.basic-button {
  background-color: var(--primary-blue);
  color: var(--white);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid var(--primary-blue);
  cursor: pointer;
  transform: skewX(-15deg);
  padding: 11px 20px;
  position: relative;
  transition: all 0.3s linear;
  overflow: hidden;
}

.basic-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -150%;
  top: 0;
  background-color: var(--background-color);
  transition: all 0.3s linear;
  z-index: -1;
}

.basic-button:hover::before {
  left: 0%;
}

.basic-button:hover {
  border: 1px solid var(--white);
}

.anchor {
  padding: 10px 20px;
  font-family: var(--heading-font);
  font-size: 24px;
  color: var(--white);
}

.padding {
  padding: var(--section-padding);
}

.bottom-padding {
  padding-bottom: 0%;
}

.background-property {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 500px) {
  .main-heading {
    font-size: 25px;
    font-weight: 700;
  }
  .sub-heading {
    font-size: 18px;
    font-weight: 500;
  }
  .text {
    font-size: 16px;
  }
}
